In [2]:
import pandas as pd
import yfinance as yf
import altair as alt
import streamlit as st
%matplotlib inline

In [8]:
days = 20
tickers = {
    'apple': 'AAPL',
    'google' : 'GOOGL',
    'netflix' : 'NFLX',
    'amazon' : 'AMZN'
}
df = pd.DataFrame()
for company in tickers.keys():
    tkr = yf.Ticker(tickers[company])
    hist = tkr.history(period=f'{days}d')
    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name = 'Name'
    df = pd.concat([df, hist])
df

Date,2023-06-29 00:00:00-04:00,2023-06-30 00:00:00-04:00,2023-07-03 00:00:00-04:00,2023-07-05 00:00:00-04:00,2023-07-06 00:00:00-04:00,2023-07-07 00:00:00-04:00,2023-07-10 00:00:00-04:00,2023-07-11 00:00:00-04:00,2023-07-12 00:00:00-04:00,2023-07-13 00:00:00-04:00,2023-07-14 00:00:00-04:00,2023-07-17 00:00:00-04:00,2023-07-18 00:00:00-04:00,2023-07-19 00:00:00-04:00,2023-07-20 00:00:00-04:00,2023-07-21 00:00:00-04:00,2023-07-24 00:00:00-04:00,2023-07-25 00:00:00-04:00,2023-07-26 00:00:00-04:00,2023-07-27 00:00:00-04:00
Name,,,,,,,,,,,,,,,,,,,,
apple,189.589996,193.970001,192.460007,191.330002,191.809998,190.679993,188.610001,188.080002,189.770004,190.539993,190.690002,193.990005,193.729996,195.100006,193.130005,191.940002,192.750000,193.619995,194.500000,193.220001
google,119.099998,119.699997,119.900002,121.750000,120.110001,119.480003,116.449997,117.139999,118.930000,124.540001,125.419998,124.650002,123.760002,122.029999,119.199997,120.019997,121.529999,122.209999,129.270004,129.399994
netflix,428.239990,440.489990,441.440002,445.899994,438.839996,438.100006,441.709991,440.209991,444.049988,450.380005,441.910004,450.049988,474.799988,477.589996,437.420013,427.500000,428.369995,427.700012,422.670013,413.170013
amazon,127.900002,130.360001,130.220001,130.380005,128.360001,129.779999,127.129997,128.779999,130.800003,134.300003,134.679993,133.559998,132.830002,135.360001,129.960007,130.000000,128.800003,129.130005,128.149994,128.250000

In [4]:
!pip install altair

Requirement already satisfied: altair in c:\users\saito taiga\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: jinja2 in c:\users\saito taiga\anaconda3\lib\site-packages (from altair) (3.1.2)
Requirement already satisfied: pandas>=0.18 in c:\users\saito taiga\anaconda3\lib\site-packages (from altair) (1.5.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\saito taiga\anaconda3\lib\site-packages (from altair) (4.17.3)
Requirement already satisfied: toolz in c:\users\saito taiga\anaconda3\lib\site-packages (from altair) (0.12.0)
Requirement already satisfied: numpy in c:\users\saito taiga\anaconda3\lib\site-packages (from altair) (1.23.5)
Requirement already satisfied: typing-extensions>=4.0.1 in c:\users\saito taiga\anaconda3\lib\site-packages (from altair) (4.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\saito taiga\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\saito taiga\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (22.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saito taiga\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\saito taiga\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\saito taiga\anaconda3\lib\site-packages (from jinja2->altair) (2.1.1)
Requirement already satisfied: six>=1.5 in c:\users\saito taiga\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)

In [9]:
import altair as alt

In [10]:
companies = ['apple', 'google']
data = df.loc[companies]
data

Date,2023-06-29 00:00:00-04:00,2023-06-30 00:00:00-04:00,2023-07-03 00:00:00-04:00,2023-07-05 00:00:00-04:00,2023-07-06 00:00:00-04:00,2023-07-07 00:00:00-04:00,2023-07-10 00:00:00-04:00,2023-07-11 00:00:00-04:00,2023-07-12 00:00:00-04:00,2023-07-13 00:00:00-04:00,2023-07-14 00:00:00-04:00,2023-07-17 00:00:00-04:00,2023-07-18 00:00:00-04:00,2023-07-19 00:00:00-04:00,2023-07-20 00:00:00-04:00,2023-07-21 00:00:00-04:00,2023-07-24 00:00:00-04:00,2023-07-25 00:00:00-04:00,2023-07-26 00:00:00-04:00,2023-07-27 00:00:00-04:00
Name,,,,,,,,,,,,,,,,,,,,
apple,189.589996,193.970001,192.460007,191.330002,191.809998,190.679993,188.610001,188.080002,189.770004,190.539993,190.690002,193.990005,193.729996,195.100006,193.130005,191.940002,192.750000,193.619995,194.500000,193.220001
google,119.099998,119.699997,119.900002,121.750000,120.110001,119.480003,116.449997,117.139999,118.930000,124.540001,125.419998,124.650002,123.760002,122.029999,119.199997,120.019997,121.529999,122.209999,129.270004,129.399994

In [11]:
data = data.T.reset_index()
data.head()

Name                      Date       apple      google
0    2023-06-29 00:00:00-04:00  189.589996  119.099998
1    2023-06-30 00:00:00-04:00  193.970001  119.699997
2    2023-07-03 00:00:00-04:00  192.460007  119.900002
3    2023-07-05 00:00:00-04:00  191.330002  121.750000
4    2023-07-06 00:00:00-04:00  191.809998  120.110001

In [12]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'})
data

                        Date    Name  Stock Prices(USD)
0  2023-06-29 00:00:00-04:00   apple         189.589996
1  2023-06-30 00:00:00-04:00   apple         193.970001
2  2023-07-03 00:00:00-04:00   apple         192.460007
3  2023-07-05 00:00:00-04:00   apple         191.330002
4  2023-07-06 00:00:00-04:00   apple         191.809998
5  2023-07-07 00:00:00-04:00   apple         190.679993
6  2023-07-10 00:00:00-04:00   apple         188.610001
7  2023-07-11 00:00:00-04:00   apple         188.080002
8  2023-07-12 00:00:00-04:00   apple         189.770004
9  2023-07-13 00:00:00-04:00   apple         190.539993
10 2023-07-14 00:00:00-04:00   apple         190.690002
11 2023-07-17 00:00:00-04:00   apple         193.990005
12 2023-07-18 00:00:00-04:00   apple         193.729996
13 2023-07-19 00:00:00-04:00   apple         195.100006
14 2023-07-20 00:00:00-04:00   apple         193.130005
15 2023-07-21 00:00:00-04:00   apple         191.940002
16 2023-07-24 00:00:00-04:00   apple         192.750000
17 2023-07-25 00:00:00-04:00   apple         193.619995
18 2023-07-26 00:00:00-04:00   apple         194.500000
19 2023-07-27 00:00:00-04:00   apple         193.220001
20 2023-06-29 00:00:00-04:00  google         119.099998
21 2023-06-30 00:00:00-04:00  google         119.699997
22 2023-07-03 00:00:00-04:00  google         119.900002
23 2023-07-05 00:00:00-04:00  google         121.750000
24 2023-07-06 00:00:00-04:00  google         120.110001
25 2023-07-07 00:00:00-04:00  google         119.480003
26 2023-07-10 00:00:00-04:00  google         116.449997
27 2023-07-11 00:00:00-04:00  google         117.139999
28 2023-07-12 00:00:00-04:00  google         118.930000
29 2023-07-13 00:00:00-04:00  google         124.540001
30 2023-07-14 00:00:00-04:00  google         125.419998
31 2023-07-17 00:00:00-04:00  google         124.650002
32 2023-07-18 00:00:00-04:00  google         123.760002
33 2023-07-19 00:00:00-04:00  google         122.029999
34 2023-07-20 00:00:00-04:00  google         119.199997
35 2023-07-21 00:00:00-04:00  google         120.019997
36 2023-07-24 00:00:00-04:00  google         121.529999
37 2023-07-25 00:00:00-04:00  google         122.209999
38 2023-07-26 00:00:00-04:00  google         129.270004
39 2023-07-27 00:00:00-04:00  google         129.399994

In [30]:
ymin, ymax = 250, 300
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date",
        y=alt.Y("Stock Prices(USD)):Q", stack=None, scale=alt.Scale(domain=[100,1000])),
        color='Name'
    )
)
chart

alt.Chart(...)